<ion-modal-view class="bg-transparent" ng-click="more.hide()">
        <ion-content>
		<div class="pakka-more-wrapper">
			<div class="pakka-more-inner">
				<div class="pakka-more-top">
					<div class="pakka-more-pic">
						<img src="img/editor11.png">
					</div>
					<div class="pakka-more-detail">
						<h4>KEHA-TIK TOK</h4>
					</div>
					<div class="clear"></div>
				</div>
				<ul>
					<li class="add">ADD TO</li>
					<li class="heart">FAVOURATE</li>
					<li class="next">PLAY NEXT</li>
					<li class="mic">KESHA</li>
					<li class="share">SHARE</li>
					<li></li>
				</ul>
			</div>
		</div>
		 </ion-content>
      </ion-modal-view>