<ion-view style="" class=" " id="mymusic" title="mymusic" hide-nav-bar="true" ng-controller="pakkaUICtrl">
	<ion-header-bar class="pakka-theme-bg-color border-none backgroundnone">
		<button class="pakka-nav-icon pakka-nav button-clear"  ng-click="sidemenu.show($event)"></button>
		<div class="pakka-nav-head"><h1>My Music</h1></div>
		<button class="pakka-nav-icon pakka-search button-clear" ng-click="search.show()"></button>
	</ion-header-bar>
    <ion-content class="pakka-theme">
			<div class="pakka-mymusic-wrap">
				<ul>
					<li class="p1">
						<h6>MY PLAYLISTS</h6>
					</li>
					<li class="p2">
						<h6>FAVOURITES</h6>
					</li>
					<li class="p3">
						<h6>DOWNLOADS</h6>
					</li>
					<li class="p4">
						<h6>MUSIC ON MY PHONE</h6>
					</li>
				</ul>
			</div>
	</ion-content>
</ion-view>