<ion-view style="" class=" " id="newrelease" title="newrelease" hide-nav-bar="true" ng-controller="pakkaUICtrl">
	<ion-header-bar class="pakka-theme-bg-color border-none backgroundnone">
		<button class="pakka-nav-icon pakka-back button-clear" ng-click="myGoBack()"></button>
		<div class="pakka-nav-head"><h1>New Release</h1></div>
		<button class="pakka-nav-icon pakka-like button-clear" ng-click="notification.show($event)"></button>
		<button class="pakka-nav-icon pakka-search button-clear" ng-click="search.show()" ></button>
	</ion-header-bar>
    <ion-content class="pakka-theme">
			<div class="pakka-home-wrap">
				<div class="pakka-pick-div">
					<div class="pakka-pick-top">
						<div class="pakka-pick-top-left">New Release</div>
						<div class="pakka-pick-top-right"></div>
						<div class="clear-both"></div>
					</div>
					<div class="pakka-pick-list">
						
						<ul>
						<li ui-sref="playmusic"><img src="img/editor7.png">
						<div class="pakka-list-name">
						<h4>SCREAM</h4>
						<p>Demi Lovato</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor8.png">
						<div class="pakka-list-name">
						<h4>SHAKE IT OUT</h4>
						<p>Melissa Gomez</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor9.png">
						<div class="pakka-list-name">
						<h4>Out law</h4>
						<p>Miley Cirus</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor7.png">
						<div class="pakka-list-name">
						<h4>SCREAM</h4>
						<p>Demi Lovato</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor8.png">
						<div class="pakka-list-name">
						<h4>SHAKE IT OUT</h4>
						<p>Melissa Gomez</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor9.png">
						<div class="pakka-list-name">
						<h4>Out law</h4>
						<p>Miley Cirus</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor7.png">
						<div class="pakka-list-name">
						<h4>SCREAM</h4>
						<p>Demi Lovato</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor8.png">
						<div class="pakka-list-name">
						<h4>SHAKE IT OUT</h4>
						<p>Melissa Gomez</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor9.png">
						<div class="pakka-list-name">
						<h4>Out law</h4>
						<p>Miley Cirus</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor7.png">
						<div class="pakka-list-name">
						<h4>SCREAM</h4>
						<p>Demi Lovato</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor8.png">
						<div class="pakka-list-name">
						<h4>SHAKE IT OUT</h4>
						<p>Melissa Gomez</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor9.png">
						<div class="pakka-list-name">
						<h4>Out law</h4>
						<p>Miley Cirus</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor7.png">
						<div class="pakka-list-name">
						<h4>SCREAM</h4>
						<p>Demi Lovato</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor8.png">
						<div class="pakka-list-name">
						<h4>SHAKE IT OUT</h4>
						<p>Melissa Gomez</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor9.png">
						<div class="pakka-list-name">
						<h4>Out law</h4>
						<p>Miley Cirus</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor7.png">
						<div class="pakka-list-name">
						<h4>SCREAM</h4>
						<p>Demi Lovato</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor8.png">
						<div class="pakka-list-name">
						<h4>SHAKE IT OUT</h4>
						<p>Melissa Gomez</p>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/editor9.png">
						<div class="pakka-list-name">
						<h4>Out law</h4>
						<p>Miley Cirus</p>
						</div>
						</li>
						<div class="clear-both"></div>
						</ul>
						
					</div>
				</div>
			</div>
	</ion-content>
</ion-view>