<ion-view style="" class=" " id="rewards" title="rewards" hide-nav-bar="true" ng-controller="pakkaUICtrl">

		<ion-header-bar class="pakka-theme-bg-color border-none backgroundnone">
			<button class="pakka-nav-icon pakka-nav button-clear" ng-click="sidemenu.show($event)"></button>
			<div class="pakka-nav-head"><h1>Pakka Rewards</h1></div>
			<button class="pakka-nav-icon pakka-search button-clear" ng-click="search.show()"></button>
		</ion-header-bar>
		<ion-content class="pakka-theme height100">
			<div class="pakka-main-wrap">
				<div class="pakka-reward">
					<h4>WE WILL COME UP WITH A 
						REVANOED OFFER SOON 
						STAY TUNED!</h4>
				</div>
			</div>
		</ion-content>
</ion-view>