<ion-modal-view class="pakka-theme">
        <ion-content>
		<div class="pakka-search-wrapper">
			<button class="pakka-search-close button-clear" ng-click="search.hide()"><i class="ion-ios-arrow-left icon icon-left text-white"></i></button>
			<div class="pakka-search-wrapper-inner">
				<input class="pakka-search-input" type="text" placeholder="Search your music">
				<div class="pakka-search-row">
					<div class="pakka-search-input1 float-left">PAKKA MUSIC</div>
					<div class="pakka-search-input1 float-right">MY MUSIC</div>
					<div class="clear-both"></div>
				</div>
				<h2>RECENT SEARCHES</h2>
				<div class="pakka-search-row">
					<div class="pakka-search-input1 float-left">KESHA HITS</div>
					<div class="pakka-search-input1 float-right">MILIE CIRUS</div>
					<div class="clear-both"></div>
				</div>
				<div class="pakka-search-row">
					<div class="pakka-search-input1 float-left">BRITENEY SPEARS</div>
					<div class="pakka-search-input1 float-right">ARIANA GRANDE</div>
					<div class="clear-both"></div>
				</div>
				<h2>TOP TRENDINGS</h2>
				<div class="pakka-search-row">
					<div class="pakka-search-input1 float-left">KATTY PERRY</div>
					<div class="pakka-search-input1 float-right">RIHANNA</div>
					<div class="clear-both"></div>
				</div>
				<div class="pakka-search-row">
					<div class="pakka-search-input1 float-left">ADELE</div>
					<div class="pakka-search-input1 float-right">JENNIFER LOPEZ</div>
					<div class="clear-both"></div>
				</div>
			
			</div>
		</div>
		 </ion-content>
      </ion-modal-view>