<ion-view style="" class=" " id="topchart" title="topchart" hide-nav-bar="true" ng-controller="pakkaUICtrl">
	<ion-header-bar class="pakka-theme-bg-color border-none backgroundnone">
		<button class="pakka-nav-icon pakka-back button-clear" ng-click="myGoBack()"></button>
		<div class="pakka-nav-head"><h1>Top Charts</h1></div>
		<button class="pakka-nav-icon pakka-like button-clear" ng-click="notification.show($event)"></button>
		<button class="pakka-nav-icon pakka-search button-clear" ng-click="search.show()" ></button>
	</ion-header-bar>
    <ion-content class="pakka-theme">
			<div class="pakka-home-wrap">
				<div class="pakka-pick-div">
					<div class="pakka-pick-top">
						<div class="pakka-pick-top-left">Top Charts</div>
						<div class="pakka-pick-top-right"></div>
						<div class="clear-both"></div>
					</div>
					<div class="pakka-topchart-list">
						<ul>
						<li ui-sref="playmusic"><img src="img/topchart1.png">
						<div class="pakka-topchart-overlay">
						<h6>PAKKA SPECIALS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart2.png">
						<div class="pakka-topchart-overlay">
						<h6>ALBUMS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart3.png">
						<div class="pakka-topchart-overlay">
						<h6>TOP TRENDING</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart4.png">
						<div class="pakka-topchart-overlay">
						<h6>MIXED MAX</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart1.png">
						<div class="pakka-topchart-overlay">
						<h6>PAKKA SPECIALS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart2.png">
						<div class="pakka-topchart-overlay">
						<h6>ALBUMS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart3.png">
						<div class="pakka-topchart-overlay">
						<h6>TOP TRENDING</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart4.png">
						<div class="pakka-topchart-overlay">
						<h6>MIXED MAX</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart1.png">
						<div class="pakka-topchart-overlay">
						<h6>PAKKA SPECIALS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart2.png">
						<div class="pakka-topchart-overlay">
						<h6>ALBUMS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart3.png">
						<div class="pakka-topchart-overlay">
						<h6>TOP TRENDING</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart4.png">
						<div class="pakka-topchart-overlay">
						<h6>MIXED MAX</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart1.png">
						<div class="pakka-topchart-overlay">
						<h6>PAKKA SPECIALS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart2.png">
						<div class="pakka-topchart-overlay">
						<h6>ALBUMS</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart3.png">
						<div class="pakka-topchart-overlay">
						<h6>TOP TRENDING</h6>
						</div>
						</li>
						<li ui-sref="playmusic"><img src="img/topchart4.png">
						<div class="pakka-topchart-overlay">
						<h6>MIXED MAX</h6>
						</div>
						</li>
						<div class="clear-both"></div>
						</ul>
					</div>
				</div>
			</div>
	</ion-content>
</ion-view>