.platform-ios .home.pane .scroll-content{
     background: none;
  }
.platform-android .home.pane .scroll-content{
     background: url('../img/background/home/Default@2x~android.png');
     background-size: cover;
     background-repeat: no-repeat;
  }
/*GENERAL-CSS*/


.text-input-field{color: white !important; border-bottom: 1px solid white;}
/*.content-background{background-color: #0288D1;border:none;}*/

.item-floating-label .input-label.has-input {
    color: white;
    transition: opacity 0.25s ease-in, top 0.25s ease-in;
}
.item-floating-label .input-label {
    color: white;
    transition: opacity 0.25s ease-in, top 0.25s ease-in;
}
.title{color: white;font-size: 20px !important;}
input::placeholder {color: white;}
.form-list{border: none;}
.text-white{color:#fff !important;}
.float-left{float:left !important;}
.float-right{float:right !important;}
.padding0{padding:0px !important;}
.height33{height:33.3% !important;margin:0 !important;}
.width100{width:100% !important;}
.height100{height:100% !important;}
.pakka-theme{background:url(../img/pakka-theme-bg.png) !important;background-repeat: no-repeat !important;background-size: cover !important;}
.social-font-size{font-size:20px !important;}
.pakka-theme-bg-color{background-color:#930504 !important;}
.border-none{border:none !important; }
.pakka-nav-icon{color:#fff !important;width:45px;height:35px;}
@font-face {font-family:AvenirNextLTPro-Regular;src: url(../font/AvenirNextLTPro-Regular.otf);}
.pakka-nav-head{width:100%;}
.pakka-nav-head h1{font-family:AvenirNextLTPro-Regular;width:100%;text-align:left;font-size:18px;color:#fff;margin:0px;height: 35px;padding: 8px;}
.bg-transparent{background:transparent !important;}
.pakka-music-player-bg{background-color: #ffffff; background-repeat: no-repeat !important;background-size: cover !important;background-position:center !important;}
.clear-both{clear:both;}
.backgroundnone{background:none;}
.align-left{text-align:left !important;}
.align-right{text-align:right !important;}
.pos-abs{position:absolute !important;}
.pos-rel{position:relative !important;}
.playlist-image{width:100% !important; height:50% !important;z-index:0;}
.playlist-controls{position: absolute;top:25%;left: 0;right: 0;bottom: 0;}
.other-playlists-background{background-color: #444; opacity: 0.7; color: white;}

.recent-playlist-width{width: 95px !important; float: left !important; margin-right: -20px !important}
#bluetooth{font-size: 22px;margin-right: 5px;color: #fff}
#button-color{color:white;}
/*.scrollmenu{overflow: auto; white-space: nowrap;z-index: 100;}*/
.button-white{color: white;}
/*BUTTONS*/

.pakka-nav{background:url(../img/pakka-nav.png) !important;background-repeat: no-repeat !important;background-position: top 6px left 8px !important;background-size: 20px 17px !important;}
.pakka-like{background:url(../img/pakka-like.png) !important;background-repeat: no-repeat !important;background-position: top 4px left 0px !important;background-size: 23px !important;}
.pakka-search{background:url(../img/pakka-search.png) !important;background-repeat: no-repeat !important;background-position: top 2px left 0px !important;background-size: 23px !important;}
.pakka-more{background:url(../img/more.png) !important;background-repeat: no-repeat !important;background-position: top 4px right 5px !important;background-size: 6px !important;}
.pakka-share{background:url(../img/shre.png) !important;background-repeat: no-repeat !important;background-position: top 4px left 0px !important;background-size: 24px !important;}
.pakka-back{background:url(../img/back.png) !important;background-repeat: no-repeat !important;background-position: top 2px left 9px !important;background-size: 15px !important;}

/*IONIC-CSS-EDIT*/

.popover, .popover .bar-header {border-radius: 0px;}
.platform-android .popover {background:transparent;box-shadow:none !important;}
.popover-arrow{display:none !important;}

/*SIGNIN-SIGNUP*/

.form-margin{margin: 10%;}
.form-inputs{border: none; border-bottom: 1px solid white; background: transparent;color:white;}
.form-input-color{color: white;}
.pakka-sign-content h5{font-family:AvenirNextLTPro-Regular;;color:#ffffff;}
.pakka-main-wrap{background:url(../img/pakka-main-bg.png) !important;background-repeat: no-repeat !important;background-size: cover !important;height: 100%;}
.pakka-inner-wrap{width:100%;margin:0 auto; height: auto;}
.loading-image{background:url(../img/loading.jpg) !important;background-repeat: no-repeat !important;background-size: cover !important;}
.pakka-logo{width:100%;background:url(../img/pakka-logo.png) !important;background-repeat: no-repeat !important;background-size: cover !important;height: 100px;position:relative;top: 75px;    background-position: center !important;    background-size: 190px !important;}
.pakka-sign-content{width:90%;font-family:AvenirNextLTPro-Regular;    position: relative;top: 90px;}
.pakka-input{width:100%;background:#424242;font-family:AvenirNextLTPro-Regular;border-radius:15px;height:40px !important;padding-left:20px !important;color:#fff !important;}
.pakka-sign-circle{width:50px;height:50px;border-radius:50%;background:url(../img/pakka-msg.png) !important;background-repeat: no-repeat !important;background-color:#323232 !important;position:absolute !important;background-position:center !important;top: -5px;right: 7px;    background-size: 19px !important;}
.pakka-input-wrap{width:100%;position:relative;margin-bottom: 15px;}
.pakka-input1{width:100%;background:#424242;font-family:AvenirNextLTPro-Regular;border-radius:15px;height:40px !important;padding-left:20px !important;color:#fff !important;}
.pakka-sign-circle1{width:50px;height:50px;border-radius:50%;background:url(../img/pakka-pass.png) !important;background-repeat: no-repeat !important;background-color:#323232 !important;position:absolute !important;background-position:center !important;top: -5px;right: 7px;    background-size: 15px !important;}
.pakka-sign-circle2{width:50px;height:50px;border-radius:50%;background:url(../img/pakka-usr.png) !important;background-repeat: no-repeat !important;background-color:#323232 !important;position:absolute !important;background-position:center !important;top: -5px;right: 7px;    background-size: 15px !important;}
.pakka-sign-btn{width:100%;color:#fff;text-align:center;font-family:AvenirNextLTPro-Regular;height:40px;border-radius:15px;background:#930504;border:none;margin-top: 25px;margin-bottom: 20px;}
.pakka-sign-content p{font-family:AvenirNextLTPro-Regular;color:#fff;font-size: 11px;margin: 0px;width:100%;text-align:center;}
.a1{color:#f84713;font-style:italic;}
.pakka-social-bay{width:100%;padding-top: 40px;}
.pakka-fb{background-color:#3b5998 !important;height:40px;border:none;}
.pakka-g{background-color:#e02f2f;height:40px;border:none;}
.pakka-check{    position: relative; top: 15px;left: 35px;}
.pakka-check input[type=checkbox] {display: none;}
.pakka-check label:before {content: "";display: inline-block;width: 15px;height: 15px;position: absolute;left: 0;bottom: 1px;background-color:transparent;border:1px solid #fff;}
.pakka-check label {margin-bottom: 10px;}
.pakka-check label:before {border-radius: 3px;}
.pakka-check input[type=checkbox]:checked + label:before {content: "\2713";font-size: 12px;color: #fff;text-align: center;line-height: 15px;}
.social-font-size{font-size: 28px !important;}
.button-fb{background: url('../img/facebook.png')!important;background-repeat: no-repeat !important;background-position:center;background-size: contain;font-size: 25px;}
/*SIDEMENU*/
.my-animation.ng-enter {
  /* standard transition code */
  transition: 1s linear all;
  opacity:0;
}
.my-animation.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 1s;
}
.my-animation.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}
/*.pakka-sidemenu-body{top:-100px;}
.pakka-sidemenu-body-inner{width:100%;position:absolute;background: #EF5350 !important;}
.popover{background:transparent;}*/
/*.pakka-menu-list{width:100%;}*/
/*.pakka-menu-list ul {}*/
/*.pakka-menu-list ul li{width:50%;height:125px;float:left; background-size: 25px !important;position:relative;background-position: center top 23px !important;}*/
/*.pakka-menu-list ul li p{width:100%;text-align:center;color:#ffffff;font-family:AvenirNextLTPro-Regular;position:absolute;bottom:8px;}*/
/*.home {background:url(../img/home.png) !important;background-repeat: no-repeat !important;}
.discover{background:url(../img/discover.png) !important;background-repeat: no-repeat !important;}
.mymusic{background:url(../img/mymusic.png) !important;background-repeat: no-repeat !important;}
.settings{background:url(../img/settings.png) !important;background-repeat: no-repeat !important;}
.invite{background:url(../img/invite.png) !important;background-repeat: no-repeat !important;}
.rewards{background:url(../img/rewards.png) !important;background-repeat: no-repeat !important;}
.border-bottom{border-bottom:1px solid #000000 !important;}
.border-right{border-right:1px solid #000000 !important;}
.pakka-side-account{position:relative;width:100% !important;height:100px !important;background-color:#546E7A !important;background-repeat: no-repeat !important;height:150px;}
.pakka-side-account h6{color:#fff;font-family:AvenirNextLTPro-Regular;position:absolute;right: 10px; bottom: -30px;font-size: 15px;}
.pakka-side-account1{position:relative;width:100% !important;background-color:#EF5350 !important;background:url(../img/logout.png);background-repeat: no-repeat !important;height:200px;}
.pakka-side-account1 h6{color:#fff;font-family:AvenirNextLTPro-Regular;position:absolute;right: 10px; bottom: -30px;font-size: 15px;}
/*NOTIFICATION*/

.pakka-notification-body{background: #fff !important; position: absolute;left: 0px !important;width:100%;top:-11px;height: 50%; top: 85px !important;border: 5px solid #000 !important;border-radius: 20px;}
.pakka-notification-body-inner{position:relative;padding:10px;}
.arrow-up {width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent;border-bottom: 40px solid #fff;top:-13px;right:33px;position:absolute;}
.pakka-notification-body-inner ul{width:100%;}
.pakka-notification-body-inner ul li{border-bottom:1px solid #d9d9d9;width:100%;background:url(../img/list.png) !important;background-repeat:no-repeat !important;padding-left: 25px; background-position: left 0px top 10px !important;    background-size: 12px !important;padding-bottom:10px;padding-top:5px;}
.pakka-notification-body-inner h6{font-family:AvenirNextLTPro-Regular;font-weight:600;margin:0px;padding-bottom: 7px;}
.pakka-notification-body-inner p{font-family:AvenirNextLTPro-Regular;color:#a1a1a1;margin:0px;font-size: 10px;line-height: 12px;text-align:justify;}
.pakka-notification-body-inner ul li:hover{background-color:#fe9796;color:#fff;}

/*DISCOVER*/

.pakka-discover-wrap{width:100%;}
.pakka-discover-wrap ul{float:left;width:100%;}
.pakka-discover-wrap ul li{width:50%;height:180px;float:left;padding: 7px;position:relative;}
.pakka-discover-overlay{width:100%;height:100%;position:absolute;top:0px;bottom:0px;right:0px;left:0px;background: rgba(0, 0, 0, 0.2);opacity:1;transition-timing-function: ease-in-out;}
.pakka-discover-overlay:focus{opacity:1;transition-timing-function: ease-in-out;color:red !important;}
.pakka-discover-wrap ul li img{width:100%;height:100%;}
.pakka-discover-overlay h4{width:100%;text-align:center;color:#fff;font-family:AvenirNextLTPro-Regular;padding-top: 70px;font-weight:600;}

/*PAKKA-REWARDS*/

.pakka-reward{width:100%;position:relative; padding: 70px;}
.pakka-reward h4{font-family:AvenirNextLTPro-Regular;color:#fff;text-align:center;font-size:16px; position: relative;top: 120px;line-height: 30px;}

/*INVITE-FRIENDS*/

.pakka-invite-wrap{width:100%;}
.pakka-invite-wrap ul{width:100%;}
.pakka-invite-wrap ul li{width:100%;color:#fff;font-family:AvenirNextLTPro-Regular;height:100px;}
.pakka-invite-wrap ul li h6{font-family:AvenirNextLTPro-Regular;color:#fff;font-size:15px;}
.pakka-invite-wrap ul li img{width: 45px;}
.pakka-social{float:left;width:50%;height:100%;text-align:right;padding-right: 30px;padding-top: 25px;}
.pakka-social1{float:left;width:50%;height:100%;text-align:left;padding-top: 30px;}
.p1{background:#363636;}
.p2{background:#3c3b3b;}
.p3{background:#4a4a4a;}
.p4{background:#525151;}
.p5{background:#5b5a5a;}
.p6{background:#656464;}
.p7{background:#6e6c6c;}

/*MY-MUSIC*/

.pakka-mymusic-wrap{width:100%;}
.pakka-mymusic-wrap ul{}
.pakka-mymusic-wrap ul li{text-align:center;font-family:AvenirNextLTPro-Regular;font-size:15px;width:100%;color:#fff;padding: 65px;}
.pakka-mymusic-wrap ul li h6{color:#fff;font-family:AvenirNextLTPro-Regular;margin:0px;font-size: 17px;}

/*HOME*/
.pakka-home-wrap{width:100%;padding: 5px;}
.list-no-border{border:none !important;width:100%;}
.pakka-pick-div{width:100%;background:#303030;padding-top: 15px;padding-bottom: 15px;margin-top: 10px;}
.pakka-pick-top{width:100%;color:#b6b6b6;font-family:AvenirNextLTPro-Regular;padding-left: 10px;padding-right: 10px;font-size: 10px;}
.pakka-pick-top-left{width:50%;float:left;text-align:left;}
.pakka-pick-top-right{width:50%;float:right;text-align:right;}
.pakka-pick-list{width:100%;}
.pakka-pick-list ul{width:100%;}
.pakka-pick-list ul li{width:28.3%;float:left;height:140px;margin:8px;position:relative;}
.pakka-pick-list ul li img{width:100%;height:100%;}
.pakka-list-name{width:100%;position:absolute;background:rgba(0,0,0,0.8);bottom:0px;padding: 10px;padding-left: 10px;padding-bottom: 5px;}
.pakka-list-name h4{color:#fff;font-family:AvenirNextLTPro-Regular;margin:0px;font-weight: 600;font-size:11px;}
.pakka-list-name p{color:#b6b6b6;font-family:AvenirNextLTPro-Regular;margin:0px;font-size:10px;}
.pakka-topchart-list{padding: 10px;}
.pakka-topchart-list ul{}
.pakka-topchart-list ul li{width:50%;float:left;height:180px;position:relative;}
.pakka-topchart-list ul li img{width:100%;height:100%;}
.pakka-topchart-overlay{width:100%;position:absolute;top:0px;bottom:0px;left:0px;right:0px;background:rgba(217,146,73,0.5);}
.pakka-topchart-overlay h6{font-family:AvenirNextLTPro-Regular;color:#fff;position:absolute;text-align:center;width:100%;top: 37%;font-size: 18px;}
.pakka-topchart-overlay1{width:100%;position:absolute;top:0px;bottom:0px;left:0px;right:0px;background-color:rgba(0,0,0,0.5) !important;background:url(../img/playlist.png);background-repeat: no-repeat !important;    background-position: center;background-size: 50px;}

/*PLAY-MUSIC*/

.pakka-song-play-div-wrap{width:100%;height:275px;padding: 5px;position:absolute;z-index:99;margin-top:43px;background:url(../img/pakka-main-bg.png) !important;background-repeat: no-repeat !important;background-size: cover !important;}
.pakka-song-play-div{width:100%;height:220px;position:relative;}
.pakka-song-play-div img{width:100%;height:100%;}
.pakka-song-play-div-overlay{background:rgba(79,78,77,0.8);width:100%;height:100%;top:0px;bottom:0px;position:absolute;}
.pakka-song-play-div-overlay h6{font-family: AvenirNextLTPro-Regular;color: #fff;text-align: center;font-size: 19px;position: relative; top: 90px;}
.pakka-play-btn-bay{width:300px;margin:0 auto;height:40px;position:relative;top:-20px;}
.pakka-left{width:90px;height:35px;float:left;background:url(../img/left-btn.png);border:none;background-position: right;background-size: cover;background-repeat:no-repeat;position:relative;}
.pakka-play-l{width:60px;height:60px;background-color:#930504 !important;border-radius:50%;position:absolute;top: -12px; right: -57px;background:url(../img/play.png);background-repeat:no-repeat;background-position:center;background-size: 25px;}
.pakka-play-r{width:60px;height:60px;background-color:#930504 !important;border-radius:50%;position:absolute;top: -12px; left: -57px;background:url(../img/dwn.png);background-repeat:no-repeat;background-position:center;background-size: 20px;}
.pakka-left p{color:#fff;font-family:AvenirNextLTPro-Regular;margin:0px;font-size:9px;text-align:left;padding-left:15px;}
.pakka-right{width:90px;height:35px;float:right;background:url(../img/right-btn.png);border:none;background-position: left;background-size: cover;background-repeat:no-repeat;position:relative;}
.pakka-right p{color:#fff;font-family:AvenirNextLTPro-Regular;margin:0px;font-size:9px;text-align:right;padding-right:0px;}
.pakka-song-list{width:100%;}
.pakka-song-list ul{padding: 10px;background:rgba(79,78,77,0.3);padding-top:0px;}
.pakka-song-list ul li{padding-top:15px !important;padding-bottom:15px !important;border-bottom:1px solid #fff;padding-left:0px !important;padding-right:0px !important;}
.pakka-music-album{width:70px;height:60px;float:left;}
.pakka-music-album img{width:100%;height:100%;}
.pakka-music-title{float:left;height:100%;padding-left:20px;}
.pakka-music-title h6{font-family:AvenirNextLTPro-Regular !important;color:#fff !important;font-size: 12px !important;}
.pakka-more1{width:10px;height:20px;background:url(../img/more.png);background-repeat:no-repeat;float:left;background-position:center;background-size: 5px;}
.pakka-dwn1{width:20px;height:20px;background:url(../img/dwn.png);background-repeat:no-repeat;float:left;background-position:center;background-size: 16px;margin-left: 10px;margin-right: 10px;}
.pakka-play1{width:20px;height:20px;background:url(../img/play.png);background-repeat:no-repeat;float:left;background-position:center;    background-size: 20px;}
.pakka-btn-bay{height:100%;    padding-top: 20px;}

/*PAKKA-MINI-PLAYER*/

.pakka-mini-player{background:url(../img/up.png);background-repeat:no-repeat;background-position:center top 5px;width:100%;    background-size: 10px;height:60px;background-color:#930504 !important;position:fixed;bottom:0px;padding: 10px;-webkit-box-shadow: 3px 3px 15px 4px #000;-moz-box-shadow:    3px 3px 15px 4px #000;box-shadow:         3px 3px 15px 4px #000;}
.pakka-mini-player h4{font-family:AvenirNextLTPro-Regular !important;color:#fff;margin:0px;    font-size: 15px;position:absolute;}
.pakka-mini-left{width:80%;float:left;padding-top: 20px;}
.pakka-mini-right{width:20%;float:left;    padding-left: 10px;}
.pakka-mini-play{width: 100%;height: 44px;border: 1px solid #fff;position: relative;}
.pakka-mini-play img{width:100%;height:100%;}

/*- hiding-range-slider -*/

.pakka-mini-player-range input[type=range] {-webkit-appearance: none; width: 100%;background: transparent;}
.pakka-mini-player-range input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;}
.pakka-mini-player-range input[type=range]:focus {outline: none; }
.pakka-mini-player-range input[type=range]::-ms-track {width: 100%;cursor: pointer;background: transparent; border-color: transparent;color: transparent;}

/*- customizing-slider -*/

.pakka-mini-player-range input[type=range]::-webkit-slider-thumb {-webkit-appearance: none; height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;background-repeat:no-repeat;cursor: pointer;margin-top: -8px;background-position:center !important;background-size:cover !important;}
.pakka-mini-player-range input[type=range]::-moz-range-thumb {height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;cursor: pointer;background-repeat:no-repeat;background-position:center !important;background-size:cover !important;margin-top: -8px;}
.pakka-mini-player-range input[type=range]::-ms-thumb {height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;cursor: pointer;background-repeat:no-repeat;background-position:center !important;background-size:cover !important;margin-top: -8px;}

.pakka-mini-player-range input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 4px;cursor: pointer;background: #ffffff;}
.pakka-mini-player-range input[type=range]:focus::-webkit-slider-runnable-track {background: #ffffff;}
.pakka-mini-player-range input[type=range]::-moz-range-track {width: 100%;height:4px;cursor: pointer;background: #ffffff;}
.pakka-mini-player-range input[type=range]::-ms-track {width: 100%;height: 4px;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}
.pakka-mini-player-range input[type=range]::-ms-fill-lower {background: #ffffff;}
.pakka-mini-player-range input[type=range]:focus::-ms-fill-lower {background: #ffffff;}
.pakka-mini-player-range input[type=range]::-ms-fill-upper {background: #ffffff;}
.pakka-mini-player-range input[type=range]:focus::-ms-fill-upper {background: #ffffff;}

/*PAKKA-MUSIC-PLAYER-POP*/

.pakka-player-head{width:100%;    padding: 10px;}
.pakka-music-player-close{font-size: 28px;width:10%;float:left;height:35px;}
.pakka-music-player-more{font-size: 28px;width:10%;float:right;height:35px;}
.pakka-music-player-dwn{background:url(../img/dwn.png) !important;height:35px;background-repeat:no-repeat !important;width:10%;background-position: center 9px !important;background-size: 17px !important;}
.pakka-player-title{width:70%;float:left;height:35px;padding-top: 10px;}
.pakka-player-title p{color:#fff;margin:0px;font-size:11px;line-height: 9px;font-family:AvenirNextLTPro-Regular;}
.pakka-player-title h6{color:#fff;margin:0px;font-size:13px;font-family:AvenirNextLTPro-Regular;    padding-top: 3px;}
.pakka-music-player{width:100%; position: absolute;top: 40%;}
.pakka-music-player-overlay{width:100%;background:rgba(0,0,0,0.6);}
.pakka-music-player-inner{width:300px;margin:0 auto;position:relative;}
.pakka-music-visualizer{background:url(../img/visualizer.png) !important;width:100%;height:100px;background-repeat: no-repeat !important;background-position: center !important;background-size: 215px !important;}
.pakka-music-player-inner h1{font-family:AvenirNextLTPro-Regular;color:#fff;text-align:center;font-size: 15px;margin:0 auto;}
.pakka-music-player-inner p{font-family:AvenirNextLTPro-Regular;text-align:center;color:#fff;padding-top: 5px;font-size: 8px;}
.pakka-player-cntrl-btn{width:200px;margin:0 auto;    position: relative;top: 12px;}
.pakka-fwrd{background:url(../img/frwrd.png) !important;width:33.33%;float:left;background-position:center !important;background-repeat:no-repeat !important;background-size: 25px !important;height:60px;}
.pakka-fwrd1{background:url(../img/frwrd1.png) !important;width:33.33%;float:left;background-position:center !important;background-repeat:no-repeat !important;background-size: 25px !important;height:60px;}
.pakka-play2{width:60px;float:left;height:60px;color: white;background-color: #444;border-radius: 30px; border:2px solid white;position:absolute;top:100%;bottom: 0;left:80%;z-index: 2;}

/*RANGE-BAR-CUSTOM*/

/*- hiding-range-slider -*/

.pakka-music-range input[type=range] {-webkit-appearance: none; width: 100%;background: transparent;}
.pakka-music-range input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;}
.pakka-music-range input[type=range]:focus {outline: none; }
.pakka-music-range input[type=range]::-ms-track {width: 100%;cursor: pointer;background: transparent; border-color: transparent;color: transparent;}

/*- customizing-slider -*/

.pakka-music-range input[type=range]::-webkit-slider-thumb {-webkit-appearance: none; height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;background-repeat:no-repeat;cursor: pointer;margin-top: -8px;background-position:center !important;background-size:cover !important;}
.pakka-music-range input[type=range]::-moz-range-thumb {height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;cursor: pointer;background-repeat:no-repeat;background-position:center !important;background-size:cover !important;margin-top: -8px;}
.pakka-music-range input[type=range]::-ms-thumb {height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;cursor: pointer;background-repeat:no-repeat;background-position:center !important;background-size:cover !important;margin-top: -8px;}

.pakka-music-range input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 4px;cursor: pointer;background: #930504;}
.pakka-music-range input[type=range]:focus::-webkit-slider-runnable-track {background: #930504;}
.pakka-music-range input[type=range]::-moz-range-track {width: 100%;height:4px;cursor: pointer;background: #930504;}
.pakka-music-range input[type=range]::-ms-track {width: 100%;height: 4px;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}
.pakka-music-range input[type=range]::-ms-fill-lower {background: #930504;}
.pakka-music-range input[type=range]:focus::-ms-fill-lower {background: #930504;}
.pakka-music-range input[type=range]::-ms-fill-upper {background: #930504;}
.pakka-music-range input[type=range]:focus::-ms-fill-upper {background: #930504;}

.pakka-time{color:#fff;font-family:AvenirNextLTPro-Regular;width:10%;float:left;font-size: 9px;position: relative;top: 2px;}
.pakka-range{width:80%;float:left;}
.pakka-music-range{position:relative;}
.pakka-player-btn{position:absolute;width:20px;top:0px;left:30px;}
.pakka-player-btn1{position:absolute;width:20px;top:0px;right:30px;}
.pakka-equilaser-btn{background:url(../img/equaliser.png) !important;background-repeat:no-repeat !important;background-position:center !important;background-size:cover !important;border:none !important;height: 20px;width:100%;    position: relative;top: -30px;}
.pakka-repeat-btn{background:url(../img/repeat.png) !important;background-repeat:no-repeat !important;background-position:center !important;background-size:cover !important;border:none !important;height: 20px;width:100%;    position: relative;top:10px;}
.pakka-da-btn{background:url(../img/da.png) !important;background-repeat:no-repeat !important;background-position:center !important;background-size:cover !important;border:none !important;height: 20px;width:100%;    position: relative;top: -30px;}
.pakka-shuffle-btn{background:url(../img/shuffle.png) !important;background-repeat:no-repeat !important;background-position:center !important;background-size:cover !important;border:none !important;height: 20px;width:100%;    position: relative;top:10px;}

/*SETTINGS*/

.pakka-settings-wrap{width:100%;}
.pakka-main-settings{width:100%;background:#930504;color:#fff;font-family:AvenirNextLTPro-Regular;padding: 10px;padding-left: 65px;padding-right: 30px;}
.pakka-sub-settings-head{-webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;background:rgba(88,17,16,0.7);width:100%;color:#fff;padding-left: 65px !important;font-family:AvenirNextLTPro-Regular;padding: 10px;font-size: 12px;width:100%;}
.pakka-sub-settings{width:100%;}
.pakka-sub-settings ul{width:100%;padding: 8px;}
.pakka-sub-settings ul p{font-family:AvenirNextLTPro-Regular;font-size: 9px;margin:0px;}
.pakka-sub-settings ul li{width:100%;color:#fff;font-family:AvenirNextLTPro-Regular;    font-size: 12px;}
.pakka-accordion-down-arrow{font-size: 30px;    position: relative;bottom: 4px;right: 50px;}
.pakka-sub-settings-ul{width:100%;}
.pakka-sub-settings-ul li{width:50% !important;float:left;}
.pakka-toggle-track{    height: 18px !important;border-radius: 5px !important;width: 50px !important;}
.pakka-toggle-handle{    height: 18px !important;top: 5px !important; border-radius: 5px !important;background:#930505 !important;left: 5px !important;border:1px solid #fff !important;}
.toggle input:checked + .pakka-toggle-track {border-color: #930505 !important;background-color: #930505 !important;}
.pakka-crossfade{width:80%;    margin: 0 auto;}

/*- hiding-range-slider -*/

.pakka-crossfade input[type=range] {-webkit-appearance: none; width: 100%;background: transparent;    padding-bottom: 3px;}
.pakka-crossfade input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;}
.pakka-crossfade input[type=range]:focus {outline: none; }
.pakka-crossfade input[type=range]::-ms-track {width: 100%;cursor: pointer;background: transparent; border-color: transparent;color: transparent;}

/*- customizing-slider -*/

.pakka-crossfade input[type=range]::-webkit-slider-thumb {-webkit-appearance: none; height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;background-repeat:no-repeat;cursor: pointer;margin-top: -8px;background-position:center !important;background-size:cover !important;}
.pakka-crossfade input[type=range]::-moz-range-thumb {height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;cursor: pointer;background-repeat:no-repeat;background-position:center !important;background-size:cover !important;margin-top: -8px;}
.pakka-crossfade input[type=range]::-ms-thumb {height: 20px;width: 20px;border-radius: 50%;background:url(../img/thump.png) !important;cursor: pointer;background-repeat:no-repeat;background-position:center !important;background-size:cover !important;margin-top: -8px;}

.pakka-crossfade input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 4px;cursor: pointer;background: #930504;}
.pakka-crossfade input[type=range]:focus::-webkit-slider-runnable-track {background: #930504;}
.pakka-crossfade input[type=range]::-moz-range-track {width: 100%;height:4px;cursor: pointer;background: #930504;}
.pakka-crossfade input[type=range]::-ms-track {width: 100%;height: 4px;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}
.pakka-crossfade input[type=range]::-ms-fill-lower {background: #930504;}
.pakka-crossfade input[type=range]:focus::-ms-fill-lower {background: #930504;}
.pakka-crossfade input[type=range]::-ms-fill-upper {background: #930504;}
.pakka-crossfade input[type=range]:focus::-ms-fill-upper {background: #930504;}
.pakka-select-btn{background:url(../img/dwnload.png) !important;color: #a8a8a8;background-position: center; background-size: cover !important;width: 100px;border:none;-webkit-appearance:none;height: 21px;font-size: 11px;padding-left: 10px;border-radius: 5px;}
.pakka-sub-settings-sub{width:100%;background:rgba(54,26,26,.8);color:#fff;padding: 10px;padding-left: 20px;}
.pakka-settings-button-bay{width:100%;text-align:center;padding-top: 15px;padding-bottom: 15px;}
.pakka-synv-button{width:250px;border:none;color:#fff;background:#930504;border-radius: 6px;padding: 6px;font-family:AvenirNextLTPro-Regular;font-weight: 900;}
.pakka-redeem-code{width:100%;padding-left:10px !important;background:transparent !important;margin: 0 auto;border:1px solid #fff !important;font-size: 11px !important;border-radius:4px;}
.pakka-about{width:250px;margin:0 auto;}
.pakka-about li{width:100% !important;border-bottom: 1px solid #a8a8a8;padding-top:10px;padding-bottom:10px;padding-top: 25px;}
.pakka-accordion-down-arrow1{font-size: 30px;position: relative;bottom: 5px;right: 10px;}

/*SEARCH-PAGE*/

.pakka-search-wrapper{width:100%;}
.pakka-search-wrapper-inner{width:300px;margin:0 auto;}
.pakka-search-close{font-size: 30px;    margin-left: 10px;}
.pakka-search-row{width:100%;}
.pakka-search-input{width:100%;height:35px;background-color:#131313 !important;border-radius:5px;color:#808080;background:url(../img/search.png),url(../img/close.png);background-repeat:no-repeat;background-position: left 8px top 10px,right 8px top 10px;background-size:15px;padding-left: 35px !important; -moz-box-shadow:    inset 0 0 10px #000000;-webkit-box-shadow: inset 0 0 10px #000000;box-shadow:inset 0 0 10px #000000;color:#fff !important;}
.pakka-search-input1{width:140px;height:35px;background-color:#131313 !important;border-radius:5px;color:#808080;background-repeat:no-repeat;background-position: left 8px top 10px,right 8px top 10px;background-size:15px; -moz-box-shadow:    inset 0 0 10px #000000;-webkit-box-shadow: inset 0 0 10px #000000;box-shadow:inset 0 0 10px #000000;padding: 7px;text-align:center;margin-top:10px;margin-bottom:10px;}
.pakka-search-wrapper-inner h2{font-family:AvenirNextLTPro-Regular;width:100%;text-align:center;color:#930504;font-size:16px;margin: 0px;padding-top:20px;padding-bottom:20px;font-weight:600;}

/*MORE*/

.pakka-more-wrapper{width:100%;background-color:#930504 !important;position:absolute;bottom:0px;}
.pakka-more-inner{width:315px;margin:0 auto;}
.pakka-more-inner ul{padding-top: 20px;}
.pakka-more-inner ul li{font-family:AvenirNextLTPro-Regular;color:#fff;padding: 10px;padding-left: 70px;border-bottom:1px solid #ae2827;font-size: 12px;}
.add{background:url(../img/addto.png);background-repeat:no-repeat;background-size: 20px;background-position: center left 10px;}
.heart{background:url(../img/heart.png);background-repeat:no-repeat;background-size: 20px;background-position: center left 10px;}
.next{background:url(../img/next.png);background-repeat:no-repeat;background-size: 16px;background-position: center left 14px;}
.mic{background:url(../img/mic.png);background-repeat:no-repeat;background-size: 20px;background-position: center left 5px;}
.share{background:url(../img/share.png);background-repeat:no-repeat;background-size: 20px;background-position: center left 7px;}
.pakka-more-top{width:100%;height: 70px;  padding-top: 20px;}
.pakka-more-pic{width:60px;height:55px;float:left;}
.pakka-more-pic img{width:100%;height:100%;}
.pakka-more-detail{float:left;padding-left: 10px;}
.pakka-more-detail h4{color:#fff;font-weight: 400;margin:0px;font-size: 14px;}

/*MY-PROFILE*/

.pakka-profile-div{width:100%;text-align: -webkit-center;}
.pakka-prof2{width:120px;height:120px;border-radius:50%;border:5px solid #c6c6c6;position:relative;margin-top: 20px;}
.pakka-prof2 img{width:100%;height:100%;border-radius:50%;}
.pakka-profile-div h1{color:#fff;font-family:AvenirNextLTPro-Regular;font-size: 17px;}
.pakka-profile-edit{background:url(../img/edit-2.png) !important;background-repeat:no-repeat !important;background-color:#930504 !important;position:absolute;color:#fff;border:none;border-radius:30px;width: 110px;text-align:right;font-family:AvenirNextLTPro-Regular;height:45px;background-size: 23px !important; background-position: right 15px top 10px !important;top:60px;}
.pakka-profile-div h5{width:100%;color:#fff;background:#930504;text-align:left;padding: 10px;padding-left:30px;font-size: 16px;font-weight: 400;margin: 0px;height:40px;}
.pakka-profile-plan{width:100%;margin-bottom: 100px;}
.pakka-profile-plan h6{font-family:AvenirNextLTPro-Regular;color:#fff;font-size: 17px;font-weight: 400;padding-top: 10px;padding-bottom: 10px;}
.pakka-plan-details{width:100%;margin:0 auto;background:rgba(66,66,66,0.5);padding:3px;padding: 10px;position:relative;margin-bottom: 5px;}
.pakka-plan-details h6{font-family:AvenirNextLTPro-Regular;color:#fff;text-align:left;margin:0px;    font-weight: 600;padding-top:0px;}
.pakka-plan-details p{font-family:AvenirNextLTPro-Regular;color:#fff;text-align:left;margin:0px;font-weight: 300;font-size: 13px;}
.pakka-plan-details h3{font-size:10px;font-family:AvenirNextLTPro-Regular;color:#fff;position:absolute;margin:0px;top: 10px; right: 10px;}
.pakka-subscribtion-footer{width:100%;background:#930504;color:#fff;text-align:center;font-family:AvenirNextLTPro-Regular;font-size: 20px;padding: 12px; position: fixed; bottom: 0;}

/*EDIT-PROFILE*/

.pakka-edit{width:320px;margin:0 auto;padding-top: 50px;padding:10px;    position: relative;top: 25px;}
.pakka-edit-input{width:100%;background:#424242;padding-left:10px !important;border-radius:5px;margin-bottom: 30px;font-family:AvenirNextLTPro-Regular;}
.pakka-btnb-bay{width:100%;}
.pakka-gender-btn{border:none;width:45%;color:#fff;font-family:AvenirNextLTPro-Regular;background:#930504;padding: 6px;}
.pakka-calender{background:url(../img/cal.png) !important;background-repeat:no-repeat !important;background-position:right !important;width:100%;background-size: 35px !important;    margin-top: 30px;    margin-bottom: 40px;}
.pakka-dob{width:85%;height:100%;background:#424242 !important;padding-left:10px !important;height:35px;border-radius:5px;}
.pakka-profile-div h4{font-family:AvenirNextLTPro-Regular;text-align:center;color:#c6c6c6;    padding-top: 30px;}
.pakka-fb-footer{width:100%;background:#3a5a97;color:#fff;text-align:center;font-family:AvenirNextLTPro-Regular;font-size: 13px;padding: 12px;  position: fixed;bottom: 0;}
